<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empréstimos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen p-8">
    <div class="max-w-6xl mx-auto">
        <div class="flex items-end mb-8">
            <h1 class="text-3xl font-bold text-green-600">Lista de Empréstimos</h1>
        </div>
        <div class="flex items-end mb-8 gap-2 justify-end">
            <a href="/emprestimos/novo" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition">
                Novo Empréstimo
            </a>
            <a href="/" class="inline-block bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400">
                Voltar
            </a>
        </div>

        <div class="bg-white rounded shadow overflow-x-auto">
            <table class="min-w-full table-auto">
                <thead class="bg-green-100 text-green-800">
                    <tr>
                        <th class="px-6 py-3 text-left text-sm font-medium">Cliente</th>
                        <th class="px-6 py-3 text-left text-sm font-medium">Livro</th>
                        <th class="px-6 py-3 text-left text-sm font-medium">Data de Empréstimo</th>
                        <th class="px-6 py-3 text-left text-sm font-medium">Data de Devolução</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="emprestimo : ${emprestimos}" class="border-t hover:bg-gray-50">
                        <td class="px-8 py-4" th:text="${emprestimo.cliente?.nome ?: 'Cliente não definido'}"></td>
                        <td class="px-8 py-4" th:text="${emprestimo.livro?.titulo ?: 'Livro não definido'}"></td>
                        <td class="px-8 py-4" th:text="${emprestimo.dataEmprestimoFormatada}"></td>
                        <td class="px-8 py-4" th:text="${emprestimo.dataDevolucaoFormatada}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
